footer {
    padding-bottom: 66px;
    .line-upon-footer {
        background: url("../images/slice-7.png") repeat-x;
        width: 100%;
        height: 6px;
    }
    .footer-wrap {
        margin: 54px auto 0;
        padding: 0 15px;
        max-width: 1174px;
        display: flex;
        flex-flow: row wrap;
    }
    .footer-inner {
        width: 20%;
        &:nth-child(2) {
            padding-left: 36px;
        }
        &:nth-child(3) {
            width: 40%;
            padding-left: 41px;
        }
        &:nth-child(4) {
            padding-left: 94px;
        }
    }
    .footer-title {
        margin-bottom: 20px;
    }
    .footer-column {
        li {
            margin-bottom: 15px;
        }
    }
    form {
        max-width: 417px;
        input, button {
            border: none;
            outline: none;
        }
        input {
            width: 100%;
            border-radius: 5px;
            float: left;
            padding: 13px 0 15px 22px;
        }
        button {
            display: inline-block;
            width: 147px;
            border-radius: 0 5px 5px 0;
            background-color: #e7434e;
            float: right;
            margin-left: -147px;
            padding: 13px 0 15px 38px;
            text-transform: uppercase;
            text-align: left;
        }
    }
    .social {
        margin-top: 36px;
        li {
            margin-right: 20px;
            float: left;
            a {
                display: flex;
                width: 44px;
                height: 44px;
                border-radius: 44px;
                text-decoration: none;
                i {
                    margin: auto;
                }
            }
        }
    }
}
