header {
    background: url("../images/header-back.png") no-repeat top;
    background-size: cover;
    padding: 36px 0 300px;
    text-transform: uppercase;
    ul.topnav {
        overflow: hidden;
        & > li {
            &:first-child {
                float: left;
                a {
                    display: inline-block;
                    padding-top: 2px;
                }
            }
            &:nth-child(2) {
                float: right;
            }
            ul.submenu {
                li {
                    float: left;
                    &:hover a {
                        border: 1px solid #f9fafe;
                    }
                    a {
                        text-transform: uppercase;
                        display: inline-block;
                        text-align: center;
                        padding: 9px 40px;
                        text-decoration: none;
                        transition: 0.5s;
                        border: 1px solid transparent;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
    ul.topnav li.icon {
        display: none;
        line-height: 36px;
        padding-right: 30px;
        a {
            display: inline-block;
            color: #ddd;
            text-align: center;
            padding: 2px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 36px;
        }
    }
    h1 {
        margin: 208px 0 5px;
        text-align: center;
    }
    .h1-desc {
        text-align: center;
    }
    form {
        margin: 82px auto 0;
        max-width: 770px;
        input, button {
            border: none;
            outline: none;
        }
        input {
            width: 100%;
            border-radius: 5px;
            float: left;
            padding: 22px 0 22px 30px;
        }
        button {
            width: 200px;
            border-radius: 0 5px 5px 0;
            float: right;
            margin-left: -200px;
            padding: 22px 0 22px 41px;
            text-align: left;
            text-transform: uppercase;
            &::before {
                display: block;
                content: "";
                background: url("../images/sailboat-icon.png") no-repeat center;
                width: 16px;
                height: 16px;
                float: left;
                margin-right: 11px;
            }
        }
        ::-webkit-input-placeholder {
            text-transform: uppercase;
        }
        
        :-moz-placeholder {
            text-transform: uppercase;
        }
        
        :-ms-input-placeholder {
            text-transform: uppercase;
        }
    }
}